<link rel="stylesheet" href="/assets/articles.scss"/>
<nav class="topnav" id="topnav">
  <li><span><%=link_to "文章管理",admin_articles_path %></span><span class="en">Article</span></li>

  <li><span><%=link_to "类别管理",admin_categories_path %></span><span class="en">Category</span></li>

  <li><span><%=link_to "评论管理",admin_comments_path %></span><span class="en">Comment</span></li>
  
  <li><span><%=link_to "生活",admin_posts_path %></span><span class="en">Life</span></li>

  </nav>

<table>
<thead>
  <tr>
    <p> 文章列表:</p>
    <th colspan="19"></th>
  </tr>
</thead>

<tbody>
<% @articles.each do |article| %>
  <tr>
  <td colspan="5"></td>
  <td><%=article.title %></td>
  <td><%= link_to '查看文章', admin_article_path(article) %></td>
  <td><%= link_to '删除文章', admin_article_url(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</td>
  </div>  
    </tr>

  <% end %>
    </tbody>
  </div>
</table>

<br>
 <%= link_to '新建文章', new_admin_article_path %>
 <%= link_to '退出登陆', admin_session_url(session[:user_id]), method: :delete %></p>



