<%= form_for([@category, @category.articles.build]) do |f| %>

  <div class="field">
    <%= f.label :题目 %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :正文 %>
    <%= javascript_include_tag "ckeditor/ckeditor.js" %> 
    <%= f.cktext_area :text, :style => "width:800px", rows: 8, :ckeditor => {:language => "zh-CN"} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
