<link rel="stylesheet" href="/assets/articles.scss"/>

<p>
<div id="Content-Main"> <%= @article.text.html_safe %></div>
</p>
<h2>评论:</h2>
<%= form_for @category, @article, @comment, url: :category_article_comments do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :body %><br>
<%= f.text_area :body %>
</p>
<p>
<%= f.label :email %><br>
<%= f.text_field :email %>
<p>
<%= f.submit %>
</p>
  <% end %>
<% if session[:user_id] %>
  <%= link_to '修改文章', edit_category_article_path, method: :get %>
<% end %>
</div>


