<link rel="stylesheet" href="/assets/categories.css"/>
<div id= "show">
  <p><strong>分类:</strong></p>
</div>
<h1><%= @category.name %></h1>

<h2>文章列表</h2>
 <%= render @category.articles %>
<h3>新增文章:</h2>
<%= render "articles/form" %>

<%= link_to '编辑分类', edit_category_path(@category) %> 
<%= link_to '返回', categories_path %>
