<!doctype html>

<html>
<head>
<meta charset="gb2312">
<title>星星的个人博客</title>
<meta name="Keywords" content="博客" >
<meta name="Description" content="博客" >
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>

<body>
<header>
  <div class="quotes">
    <p>我就是我，是颜色不一样的烟火<br> --------星星的博客</p>
    <div class="quotes">
    </div>
    <!--nav begin-->
    <div id="nav">
      <!--nav begin-->
      <div id="nav">
        <ul>
        <li><%= link_to '首页', articles_path %></a></li>
        <li><%= link_to '关于我', static_pages_about_path %></li>
        <li><%= link_to '慢生活',static_pages_home_path %></li>
        <li><a href="#">留言板</a></li>
      </ul>
    </div>
    <!--nav end--> 

  </header>

  <div class="side">  
      <div class="weather"><iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe></div>

      <div id="about">      <h1></h1></div>
      <img src="/assets/me.jpg" width="120" height="120" alt="博主"/>
      <p>姓名：star</p>
      <p>职业：</p>
      <%= render "categories/category" %>

    </div>

    <%= yield %>
    </body>

    </html>

